.header {
  padding: 0;
  letter-spacing: -0.5px;
  background-color: black;
  text-align: center;
  color: #FFF;
  font-size: 42px;
}

.header a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
}

.header a:hover {
  color: #e6e6e6
}

.header .small {
  font-size: 12px;
  color: #aaa;
  text-decoration: none;
  font-weight: normal;
  margin-left: 5px
}

.header .small:hover {
  color: chartreuse;
}

.data-body {
  margin-top: 20px;
}

.top10px {
  margin-top: 10px;
}

.center-label {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
