:root {
  --color-primary-100: #CCE1FF;
  --color-primary-200: #99C1FF;
  --color-primary-300: #669DFF;
  --color-primary-400: #3F7FFF;
  --color-primary-500: #004DFF;
  --color-primary-600: #003BDB;
  --color-primary-700: #002CB7;
  --color-primary-800: #001E93;
  --color-primary-900: #00157A;
  --color-success-100: #F6FDCD;
  --color-success-200: #EAFB9C;
  --color-success-300: #D8F56A;
  --color-success-400: #C4EC45;
  --color-success-500: #A8E00D;
  --color-success-600: #8BC009;
  --color-success-700: #6FA106;
  --color-success-800: #568104;
  --color-success-900: #446B02;
  --color-info-100: #CBFEEC;
  --color-info-200: #98FDE3;
  --color-info-300: #64FAE0;
  --color-info-400: #3DF5E5;
  --color-info-500: #00EFEF;
  --color-info-600: #00BBCD;
  --color-info-700: #008EAC;
  --color-info-800: #00668A;
  --color-info-900: #004A72;
  --color-warning-100: #FEF4CF;
  --color-warning-200: #FDE6A1;
  --color-warning-300: #FBD271;
  --color-warning-400: #F7BF4D;
  --color-warning-500: #F2A115;
  --color-warning-600: #D0820F;
  --color-warning-700: #AE660A;
  --color-warning-800: #8C4C06;
  --color-warning-900: #743A04;
  --color-danger-100: #FDE4D4;
  --color-danger-200: #FCC3AA;
  --color-danger-300: #F7987E;
  --color-danger-400: #EF705D;
  --color-danger-500: #E5342B;
  --color-danger-600: #C41F25;
  --color-danger-700: #A41526;
  --color-danger-800: #840D25;
  --color-danger-900: #6D0825;
}